include ../../../utils/Checkbox/checkbox

.drop-checkbox
    .drop-checkbox__label
        label.label Дополнительные Удобства
        .updown-arrow
            img(src="../src/image/expand_more.png").rotate
    .checkbox-group
        +checkbox('Завтрак')
        +checkbox('Письменный стол')
        +checkbox('Стул для кормления')
        +checkbox('Кроватка')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
        +checkbox('Телевизор')
        +checkbox('Шампунь')