.footerForm
    input(type="text" placeholder="Email")
    button
        //- img(src="../src/image/arrowforward.svg", alt="forward-arrow")
        img(src="./src/image/arrowForward.svg", alt="forward-arrow")
