.room-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    border-color: rgba(31, 32, 65, 0.1);;
    padding-bottom: 0.8em;

    &__icon {
        margin-right: 1em;
        padding-top: 7px;
    }

    &__text {
        font-size: 14px;
        line-height: 21px;
        color: rgba(31, 32, 65, 0.75);

        label {
            font-weight: bold;
        }

        p {
            margin: 0;
            padding: 0;
            font-weight: 400;
        }
    }
}