.room-review {
    .room-item {
        border: none;

        &__icon {
            margin-right: 0.6em;
        }
    }

    &__reviewer-block {
        margin-top: 1em;
        height: 4.1em;
    }

    &__comment-block {
        display: flex;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);

        &__like {
            margin-right: 1.2em;

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-left: 3px;
                width: 37px;
                height: 18px;
                font-size: 10px;
                font-weight: 600;
                line-height: 12px;
                color: rgba(31, 32, 65, 0.25);
                background: #fff;
                border-radius: 10px;
                cursor: pointer;
                user-select: none;

                span {
                    margin-left: 5px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    top: -1px;
                    left: -1px;
                    bottom: 0;
                    right: 0;
                    width: 39px;
                    height: 20px;
                    background: rgba(31, 32, 65, 0.25);
                    border-radius: inherit;
                    z-index: -1;
                }

                &:hover::before {
                    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                }

                &:hover span {
                    color: #BC9CFF;
                    // font-weight: normal;
                }
            }
        }

        &__comment {
            p {
                margin: 0;
            }
        }
    }
}