mixin checkbox(name, boldName)
    .checkbox
        label
            input(type="checkbox").checkbox
            span.fancy-checkbox
            span.fancy-wrapper
                span.bold-name=boldName
                span.checkbox-label=name