.price-range
    label Диапазон цены
    span.min-price
    span  - 
    span.max-price
    .slider
        .bar
            .lp(data-pos="0.1")
            .rp(data-pos="0.8")
    p Стоимость за сутки пребывания в номере