mixin SignInButton(name, link)
    .signin-btn
        a(href=link)=name

mixin SignUpButton(name, link, btnImage)
    .signup-btn
        a(href=link)=name

mixin BigVelvetFillBtn(name, link, arrow)
    .fill-btn
        a(href=link)=name
            if arrow
                img(src="../src/image/arrowforward.png", alt="arrow")