extends ../../layout/Signup
include ../../includes/components/Forms/SignupForm/SignupForm

block variables
    - var pageTitle = 'Sign up'

block content
    main
        section.content-wrapper.container
            .content-wrapper__banner
                .container
                    .container__signup-form
                        +signupForm(true)