.donut-grafic
    .donut-grafic__shedule

        .donut-grafic__donut
            .donut-grafic__donut-chart-block.donut-grafic__block
                .donut-chart
                    #section1.clip
                        .item(data-rel="21")
                    #section2.clip
                        .item(data-rel="39")
                    //- #section3.clip
                    //-     .item(data-rel="31")
                    #section4.clip
                        .item(data-rel="9")
                    .center 
                        .center__votes-count 260
                        .center__votes Голосов

            .donut-grafic__group
                .donut-grafic__group__section
                    .donut-grafic__group__section__item1
                    span Великолепно
                .donut-grafic__group__section
                    .donut-grafic__group__section__item2
                    span Хорошо
                .donut-grafic__group__section
                    .donut-grafic__group__section__item3
                    span Удовлетворительно
                .donut-grafic__group__section
                    .donut-grafic__group__section__item4
                    span Разочарован