form
    label Прибытие
    input(type="date" name="arrival")
    label Выезд
    input(type="date" name="departure")
    label Гости
    input(type="")
    select(name="guests")
        option(value="Взрослые") Взрослые
        option(value="Дети") Дети
        option(value="Младенцы") Младенцы
        option
            span Очистить
        option
            span Применить
