include ../FormItems/formInput
include ../../Drop-menu/Drop-menu

block variables

.filterFormContainer
    .filterInput
        label Даты пребывания в отеле
        .filterInput__dateInput
            +formInput("date")
    .filterInput
        label Гости
        +dropMenu('text', '3 гостя, 1 младенец', 'Взрослые', 'Дети', 'Младенцы')