include ../Forms/FormItems/formInput

mixin dropMenu(inputType, countFacilities, firstLabelName, secondLabelName, thirdLabelName, bottomBtn)
    .drop-menu
        .drop-menu__displaying-field
            +formInput(inputType, countFacilities)
            .arrow-down
                img(src="../src/image/expand_more.png")

        .choice-field
            .choice-field__button
                label=firstLabelName
                .minus -
                input(type="text" value="1" readonly).quantity
                .plus +
            .choice-field__button
                label=secondLabelName
                .minus -
                input(type="text" value="1").quantity
                .plus +
            .choice-field__button
                label=thirdLabelName
                .minus -
                input(type="text" value="1").quantity
                .plus +
            if bottomBtn
                .choice-field__buttons.buttons-wrapper
                    .buttons-wrapper__clean
                        button Очистить
                    .buttons-wrapper__apply
                        button Применить