include ../../utils/Nav/mixins

footer
    section.footer
        .fotter__wrapper
            .fotter__wrapper__logo
                .fotter__wrapper__logo__wrapper
                    include ../components/logo/logo
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .fotter__wrapper__menu
                .footer-nav
                    label Навигация
                    ul
                        +footerNav("#2", "О нас")
                        +footerNav("#3", "Новости")
                        +footerNav("#4", "Служба поддержки")
                        +footerNav("#5", "Услуги")
                .footer-nav
                    label О нас
                    ul
                        +footerNav("#6", "О сервисе")
                        +footerNav("#7", "Наша команда")
                        +footerNav("#8", "Вакансии")
                        +footerNav("#9", "Инвесторы")
                .footer-nav
                    label Служба поддержки
                    ul
                        +footerNav("#10", "Соглашения")
                        +footerNav("#11", "Сообщества")
                        +footerNav("#12", "Связь с нами")

            .fotter__wrapper__subscribe
                label Подписка
                p Получайте специальные предложения и новости сервиса
                include ../components/Forms/FooterForm/FooterForm
    section
        include ./postFooter
