include ../../utils/mixins

header.header
    .header-logo
        include ../components/logo/logo
    
    .header-nav
        ul
            +headerNav("#", "О нас")
            +headerNav("#", "Услуги")
            +headerNav("#", "Вакансии")
            +headerNav("#", "Новости")
            +headerNav("#", "Соглашения")
    
    .header-buttons
        include ../components/Buttons/SignInBtn
        include ../components/Buttons/SignUpBtn
        