include ../../utils/Nav/mixins
include ../../utils/Buttons/Buttons

header.header
    .header-logo
        include ../components/logo/logo
    
    .header-nav
        ul
            +headerNav("#", "О нас")
            +headerNav("#", "Услуги")
            +headerNav("#", "Вакансии")
            +headerNav("#", "Новости")
            +headerNav("#", "Соглашения")
    
    .header-buttons
        span
            +SignInButton("Войти")
        span
            +SignUpButton("Зарегестрироваться")