include ../../utils/Nav/mixins
include ../../utils/Buttons/Buttons

header.header
    .header-logo
        include ../components/logo/logo
    
    .header-nav
        ul
            +headerNav("#", "О нас")
            +headerNav("#", "Услуги")
            +headerNav("#", "Вакансии")
            +headerNav("#", "Новости")
            +headerNav("#", "Соглашения")
    
    .header-buttons
        .header-buttons__signin-wrap
            +SignInButton("Войти", "./signin.html")
        .header-buttons__signup-wrap
            +SignUpButton("Зарегестрироваться", "./signup.html")