include ../../../../utils/Buttons/Buttons
include ../../Drop-menu/Drop-menu

block variables
    - var arrow = '../src/image/arrowforward.png';
    - var firstLabelName = 'Взрослые'
    - var secondLabelName = 'Дети'
    - var thirdLabelName = 'Младенцы'

.main-form
    .main-form__header
        h2 Найдем номера под <br />ваши пожелания
    .search-form
        .search-form__arrival-departure
            .arrival-input
                label Прибытие
                br
                input(type="date")
            .departure-input
                label Выезд
                br
                input(type="date")
        .search-form__guests-input
            label Гости
            +dropMenu('text', 'Сколько гостей', 'Взрослые', 'Дети', 'Младенцы')
            //- input(type="text" placeholder="Сколько гостей")
    .search-form__button
        .search-form__button_size
            +BigVelvetFillBtn('Подобрать номер', './searchedRoom.html', arrow)
