extends ../../layout/searching-room
include ../../utils/Checkbox/checkbox
include ../../includes/components/Drop-menu/Drop-menu
include ../../includes/components/Room-card/Room-card

block variables
    -var pageTitle = 'Searchin room'

block searchingcontent
    main
        section
            .container
                .searchedRoom-wrapper
                    //- ================== Filter bar
                    aside.filter
                        .room-filter
                            .room-filter__searchingFilter
                                include ../../includes/components/Forms/FilterForm/FilterForm
                        .coast-filter
                            .coast-filter__slider
                                include ../../includes/components/Forms/FormItems/slider.pug
                        .checkbox-group
                            .checkbox-group__checkbox
                                .checkbox-group__label Дополнительные опции
                                +checkbox('Можно курить')
                                +checkbox('Можно с питомцами')
                                +checkbox('Можно пригласить гостей (до 10 человек)')
                        .availability 
                            .availability-group__checkbox
                                .availability__label Доступность
                                +checkbox( 'Ширина коридора в номере не менее 91 см','Широкий коридор')
                                +checkbox('На 1 этаже вас встретит специалист и проводит до номера', 'Помощник для инвалидов')
                        .facilities Удобства номера
                            .facilities__drop-menu
                                +dropMenu('text', '1 спальня, 1 кровать...', 'Спальни', 'Кровати', 'Ванные комнаты', false)
                        .additional-facilities
                            .facilities__dropCheckbox
                                include ../../includes/components/Drop-checkbox/Drop-checkbox

                    //- ======================= Result of search
                    main.filter-result
                        label Номера, которые мы для вас подобрали
                        .filter-result__card
                            +roomCard('../src/image/888.png', '../src/image/888.png', '../src/image/888.png', '../src/image/888.png', './roomditails.html', '888', true, '9990', '145')
                            +roomCard('../src/image/840.png', '../src/image/840.png', '../src/image/840.png', '../src/image/840.png', './roomditails.html','840', false, '9990', '65')
                            +roomCard('../src/image/980.png', '../src/image/980.png', '../src/image/980.png', '../src/image/980.png', './roomditails.html','980', true, '8500', '35')
                            +roomCard('../src/image/856.png', '../src/image/856.png', '../src/image/856.png', '../src/image/856.png', './roomditails.html','856', false, '7300', '19')
                            
                            +roomCard('../src/image/740.png', '../src/image/740.png', '../src/image/740.png', '../src/image/740.png', './roomditails.html','740', false, '6000', '44')
                            +roomCard('../src/image/982.png', '../src/image/982.png', '../src/image/982.png', '../src/image/982.png', './roomditails.html','982', false, '5800', '56')
                            +roomCard('../src/image/678.png', '../src/image/678.png', '../src/image/678.png', '../src/image/678.png', './roomditails.html','678', false, '5500', '45')
                            +roomCard('../src/image/450.png', '../src/image/450.png', '../src/image/450.png', '../src/image/450.png', './roomditails.html','450', false, '5300', '39')
                            
                            +roomCard('../src/image/350.png', '../src/image/350.png', '../src/image/350.png', '../src/image/350.png', './roomditails.html','350', false, '5000', '77')
                            +roomCard('../src/image/666.png', '../src/image/666.png', '../src/image/666.png', '../src/image/666.png', './roomditails.html','666', false, '5000', '25')
                            +roomCard('../src/image/444.png', '../src/image/444.png', '../src/image/444.png', '../src/image/444.png', './roomditails.html','444', false, '5000', '15')
                            +roomCard('../src/image/352.png', '../src/image/352.png', '../src/image/352.png', '../src/image/352.png', './roomditails.html','352', false, '5000', '55')
                        .filter-result__pagination-container
                            include ../../includes/components/Pagination/Pagination

