extends ../layout/main

block variables
    - var pageTitle = 'Toxin'
    - var youAreUsingPug = true

block content
    section
        .find-wrapper
            include ../includes/modules/findSection
