extends ../layout/main

block variables
    - var pageTitle = 'Toxin'
    - var youAreUsingPug = true

block content
    main
        section
            .container
                include ../includes/components/Forms/MainForm/MainForm
                span
                    p Лучшие номера для вашей работы, отдыха и просто вдохновения

