extends ../layout/main
include ../includes/components/Forms/MainForm/MainForm

block variables
    - var pageTitle = 'Toxin'

block content
    main
        section.content-wrapper
            .imageBackGround
                .container
                    .container__form
                        .form-wrapper
                            +mainForm("Найдем номера под ваши пожелания", numberHeader, lux, price, "text", "Сколько гостей", "Взрослые", "Дети", "Младенцы", countDay, midPrice, discount, totalDiscount, added, totalPrice, "Подобрать номер", "./searchedRoom.html", true, true)
                        .text
                            .text_right
                                span
                                    p Лучшие номера для вашей работы, <br/>отдыха и просто вдохновения




//- Поменять пути для картинок (./src/image/arrowforward.png рабочий путь для главной страницы)