extends ../layout/main

block variables
    - var pageTitle = 'Toxin'

block content
    main
        section
            .container
                .imageBackGround
                    include ../includes/components/Forms/MainForm/MainForm
                    span
                        p Лучшие номера для вашей работы, отдыха и просто вдохновения и не только

