.drop-checkbox {

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label {
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }
    
        .updown-arrow {
            flex: 0 1 10%;
            transform-origin: center;
            transform: rotate(0deg);
            transition: 0.3s;
        }
    }

    .checkbox-group {
        display: none;
        margin-top: 1em;

        label {
            margin-bottom: 10px;
        }
    }
}