.drop-menu {
    position: relative;
    
    &__displaying-field {
        display: flex;
        position: relative;
        box-sizing: border-box;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 5px 5px 5px 5px;

        input {
            width: 100%;
            padding: 14px 0 13px 15px;
            border: none;
            outline: none;
            color: rgba(31, 32, 65, 0.75);
        }

        .arrow-down {
            margin-left: auto;
            padding: 10px 14px;
            text-align: center;
        }

        img {
            text-align: center;
        }
    }

    .choice-field {
        position: absolute;
        display: none;
        width: 99.2%;
        background: #fff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-top: none;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        z-index: 1;
    }

    .choice-field__button {
        display: flex;
        flex: 1 0 100%;
        // display: grid;
        // grid-template-columns: 61% 12% 15% 12%;
        // grid-template-rows: auto;
        align-items: center;
        padding: 7px 7px 7px 15px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;

        label {
            display: flex;
            flex: 0 0 62%;
        }
        
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            // flex: 0 0 13%;
            flex: 0 0 auto;
            width: 30px;
            height: 30px;
            color: rgba(31, 32, 65, 0.5);
            box-sizing: border-box;
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-radius: 22px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: #BC9CFF;
                border: 1px solid #BC9CFF;
            }
        }

        .quantity {
            display: flex;
            flex: 0 0 auto;
            // justify-content: center;
            // align-items: center;
            width: 7px;
            margin: 0 auto;
            font-weight: bold;
            border: none;
            outline: none;
        }

        .disabled {
            // color: rgba(31, 32, 65, 0.25);
            // color: red;
            border: 1px solid rgba(31, 32, 65, 0.25);

            &:hover {
                color: rgba(31, 32, 65, 0.25);
                border: 1px solid rgba(31, 32, 65, 0.25);
            }
        }

        .plus,
        .minus {
            user-select: none;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 19px;
        margin-bottom: 13px;

        &__clean,
        &__apply {
            button {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: rgba(31, 32, 65, 0.5);
                background: inherit;
                border: none;
                outline: none;
                cursor: pointer;

                &:hover {
                    color: #BC9CFF;
                }
            }
        }

        &__clean {
            button {
                margin-left: 14px;
            }
        }

        &__apply {
            button {
                margin-right: 7px;
            }
        }
    }
}

@media(max-width: 992px) {
    .drop-menu {
        &__displaying-field {
            input {
                width: 71%;
            }

            .arrow-down {
                padding: 10px 7px;
            }
        }

        .choice-field__button {
            label {
                flex: 0 1 62%;
            }
        }
    }
}

@media(max-width: 767px) {
    .drop-menu {
        .choice-field__button {
            .quantity {
                flex: 0 0 auto;
            }
        }
    }
}