.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6em;

    // &__container {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-wrap: wrap;
    // }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .pagination__btn_hide {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        font-weight: normal;

        &:hover {
            font-weight: bold;
        }
    }

    .pagination__item_active {
        .pagination__link {
            font-size: 12px;
            line-height: 15px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 50%;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
    }

    &__else-pages {
        font-weight: normal;

        &:hover {
            font-weight: bold;
        }
    }

    &__text {
        font-weight: normal;

        &:hover {
            font-weight: bold;
        }
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.3em;
        margin-right: 0.7em;

        p {
            margin: 0;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }
    }
}