.prev-btn {
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    text-align: center;

    img {
        vertical-align: sub;
        transform: rotate(180deg);
        transform-origin: center;
    }

    &:hover {
        opacity: 0.5;
    }
}