/* montserrat-regular - cyrillic_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}


@import 'filterForm.scss';
@import 'slider.scss';
@import 'checkbox.scss';
@import 'Drop-menu.scss';
@import 'drop-checkbox.scss';
@import 'Room-card.scss';
@import 'Pagination.scss';
@import 'Next-btn.scss';
@import 'Prev-btn.scss';

// ================== Filter bar

.searchedRoom-wrapper {
    display: grid;
    grid-template-columns: 22.95% 72%;
    grid-template-rows: auto;
    gap: 5.15%;
    max-width: 1161px;
    margin: 0 auto;
    padding: 0 10px;

    .filter {

        &__displaying-button {
            display: none;
            
            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1em;
            }

            h4 {
                margin-right: 1em;
            }
        }

        &__filter-wrapper {
            display: block;
        }
        
        &__coast-filter {
            &__slider {
                margin-top: 1.74em;
            }
        }

        &__checkbox-group {
            margin-top: 1.8em;

            &__checkbox {
                label {
                    margin-bottom: 10px;
                }
            }

            &__label {
                margin-bottom: 1.42em;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
            }
        }

        &__availability {
            margin-top: 1.9em;

            &-group {
                &__checkbox {
                    label {
                        margin-bottom: 6px;
                    }
                }

                &__label {
                    margin-bottom: 1.3em;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase; 
                }
            }

            .bold-name {
                font-weight: bold;
            }
            
            .checkbox-label {
                font-size: 12px !important;
                line-height: 14px !important;
            }
        }

        &__facilities {
            margin-top: 2.3em;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;

            &__drop-menu {
                margin-top: 4px;

                .arrow-down {
                    padding: 13px 14px;
                }
            }
        }

        &__additional-facilities {
            margin-top: 1.8em;
        }
    }

    // ======================= Result of search

    .filter-result {
        padding: 1.33em 10px 0 0;
        font-weight: bold;
        font-size: 23px;
        line-height: 30px;

        h4 {
            margin: 0;
        }
        
        &__card {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-rows: auto;
            gap: 5px;
            margin-top: 0.9em;
        }

        &__pagination-container {
            margin-top: 1.4em;
        }
    }
}

@media(max-width: 992px) {
    .searchedRoom-wrapper {
        max-width: 750px;

        .filter-result {
            &__card {
                grid-template-columns: 50% 50%;
            }
        }
    }
}

@media(max-width: 767px) {
    .searchedRoom-wrapper {
        grid-template-columns: 100%;
        gap: 0%;
        max-width: 630px;

        .filter {
            &__displaying-button {
                display: block;
            }

            &__filter-wrapper {
                display: none;
                padding-bottom: 2em;
                border-bottom: 1px solid rgba(31, 32, 65, 0.25);;
            }
        }
    }
}

@media(max-width: 537px) {
    .searchedRoom-wrapper {
        .filter-result {
            padding: 1.33em 0 0 0;

            &__card {
                grid-template-columns: 100%;
            }

            h4 {
                text-align: center;
            }

            .card-wrapper {
                margin: 6.5px auto;
            }
        }
    }
}