.price-range {

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__label {
      label {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
      }
    }

    &__sum {
      span {
        display: inline-block;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
      }
    }
  }

  .slider {
    position: relative;
    width: 100%;
    height: 6px;
    margin-top: 1.36em;
    margin-bottom: 0.9em;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
  }
  .slider .bar {
    position: absolute;
    left: 50px;
    width: 150px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    height: 100%;
  }
  .slider .bar .lp span {
    position:relative;
    left:-30px;
  }
  .slider .bar .rp span {
    position:relative;
    left:10px;
  }

  .slider .bar .lp,.slider .bar .rp {
    cursor: pointer;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    width:12px;
    height:12px;
    border: 2px solid #FFFFFF;
    border-radius:100%;
    position:absolute;
    line-height:400%;
    color:#555;
    user-select:none;
  }

  .slider .bar .lp {
    left:0px;
    top:-6px;
  }

  .slider .bar .rp {
    left: 96%;
    top:-6px;
  }

  p {
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
  }
}

@media(max-width: 992px) {
  .price-range {
    .slider .bar {
      width: 80px;
    }
  }
}