.fotter-wrapper {
    display: grid;
    grid-template-columns: 24% 17% 17% 17% 25%;
    grid-template-rows: auto;
    height: 13em;
    padding: 5em 8.8em;
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);

    label {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .footer-logo {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 1em 1.5em 0em;

        p {
            margin-top: -2.1em;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }
    }

    .footer-nav {
        padding: 1.2em 1.5em;

        p {
            margin-bottom: 1.8em;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }

        &:last-child {
            padding: 1.2em 0 0 1.8em;
        }
    }
}