.header {
    display: grid;
    grid-template-columns: 35% 34% 31%;
    grid-template-rows: auto;
    width: 100%;
    min-height: 70px;
}

.header-logo {
    display: flex;
    margin: 13px 140px;

    &__item2 {
        margin-left: 12.9px;
        margin-top: 15px;
    }
}

.header-nav {

    ul {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 26px 0px;
        list-style: none;
    }
    
    li {
        margin-left: 1.7em;

        a{
            text-decoration: none;
            font-size: 14px;
            line-height: 17px;
            color: rgba(31, 32, 65, 0.5);
        }
    }
}

.header-buttons {
    display: flex;
    padding: 1.1em 3px;

    span {
        margin-right: 1.3em;

        &:last-child {
            margin-right: 0;
        }
    }
}