.header {
    outline: 1px solid red;
    display: grid;
    grid-template-columns: 35% 34% 31%;
    grid-template-rows: auto;

    width: 100%;
    min-height: 70px;
}

.header-logo {
    display: flex;
    margin: 13px 140px;

    &__item2 {
        margin-left: 12.9px;
        margin-top: 15px;
    }
}

.header-nav {
    // display: flex;

    ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        // margin: 0;
        list-style: none;
    }

    li a{
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
    }
}