.content-wrapper {
    display: flex;
    max-width: 1440px;

    .imageBackGround {
        display: flex;
        flex: 1 0 100%;
        height: 51.8em;
        background: url("../image/image3.png") bottom;
        background-size: cover;
    

        .container {
            width: 100%;

            &__form {
                display: flex;
                max-width: 1173px;
                height: 90.28%;
                margin: 0 auto;
                padding: 4.4em 10px 10px 10px;

                .form-wrapper {
                    flex: 0 0 35.4%;
                    max-width: 23.75em;
                    margin-left: 6px;
                }
    
                .text {
                    flex: 1 0 auto;
                    margin-top: auto;
        
                    &_right {
                        flex: 1 0 31%;
                        margin: 0.6em 0;
                        white-space: nowrap;
        
                        span {
                            p {
                                margin: 0;
                                font-size: 14px;
                                line-height: 24px;
                                text-align: right;
                                color: rgba(31, 32, 65, 0.75);
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media(max-width: 992px) {
        .imageBackGround {
            height: 36.8em;

            .container {
                &__form {
                    max-width: 750px;
                    height: 86.28%;
                }
            }
        }
    }

    @media(max-width: 767px) {
        .imageBackGround {
            .container {
                &__form {
                    display: block;
                    max-width: 750px;
                    height: 80.28%;

                    .form-wrapper {
                        margin: 0 auto;
                        margin-bottom: 4em;
                    }

                    .text {
                        flex: none;
                        width: 64%;
                        margin: 0 auto;

                        &_right {
                            span {
                                p {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}