.main-form {
    display: grid;
    grid-template-columns: 50% 50%;
    // grid-template-rows: 39% 48% 33%;
    grid-template-rows: auto;
    grid-template-areas: 
    "formHeader formHeader"
    "searchForm searchForm"
    "searchFormBtn searchFormBtn";
    position: absolute;
    max-width: 20em;
    margin: 4.4em 8.8em;
    padding: 1.2em 1.8em 0 1.8em;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);;

    .main-form__header {
        grid-area: formHeader;
        margin-bottom: 1.2em;
    }

    .search-form {
        grid-area: searchForm;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
        "inputDateIn inputDateIn"
        "guests guests"
        "searchBtn searchBtn";

        .search-form__arrival-departure {
            grid-area: inputDateIn;
            display: flex;
            margin-top: -20px;
            margin-bottom: 0.5em;

            label {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }

            input {
                width: 11em;
                height: 3em;
                padding: 0px 8px;
                box-sizing: border-box;
                border: 1px solid rgba(31, 32, 65, 0.25);
                border-radius: 5px;
            }

            .arrival-input {
                margin-right: 1.5em;
            }
        }

        .search-form__guests-input {
            grid-area: guests;
            margin-top: 1em;

            label {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }

            input {
                width: 24em;
                height: 3em;
                margin-right: 3em;
                margin-top: 0.2em;
                box-sizing: border-box;
                border: 1px solid rgba(31, 32, 65, 0.25);
                border-radius: 5px;
                padding: 1em;
            }
        }
    }

    .search-form__button{
        grid-area: searchFormBtn;
        padding: 2.3em 0 2em 0;

        .search-form__button_size {
            max-width: 100%;
            height: 2.5em;
        }
    }
}