/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../assets/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'header.scss';
@import 'signinbtn.scss';
@import 'SignUpBtn.scss';
@import 'index.scss';

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    // CSS фичи #10 ➤ Параллакс эффект на CSS | Parallax Effect CSS without JS
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}