.postFooter {
    display: grid;
    grid-template-columns: 33% 1fr 1fr 1fr 15%;
    grid-template-rows: auto;
    padding: 1.7em 8em 1em 8.7em;

    p {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.75);
    }

    .social-icons {
        grid-column-start: 5;
        display: flex;
        justify-content: flex-end;

        a {
            margin-right: 1.1em;

            img {
                transition: 0.3s ease-in-out;
            }

            &:hover img {
                opacity: 0.5;
            }
        }
    }
}

@media(max-width: 710px) {
    .postFooter {
        display: flex;
        flex-direction: column;
        padding: 0;

        .copyright {
            max-width: 90%;
            margin: 1em auto;

        }

        .social-icons {
            max-width: 8em;
            margin: 0 auto;
        }
    }
}