.signin-btn {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    transition: 0.3s ease;
    z-index: 1;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: #BC9CFF;
        background: #fff;
        background-clip: padding-box;
        border: solid 2px transparent;
        border-radius: 22px;
        outline: 0;
        cursor: pointer;
        opacity: 1;
    }

    &:hover {
        opacity: 0.5;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0; 
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        z-index: -1;
    }
}