.fill-btn {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    button {
        display: block;
        width: 100%;
        height: 3.6em;
        // margin-left: 1.5em;
        padding: 0.8em 1.8em;
        align-items: center;
        box-sizing: border-box;
        font-family: Montserrat;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border: none;
        border-radius: 22px;
        outline: 0;
        cursor: pointer;
    }

    img {
        float: right;
        margin-right: -0.5em;
    }
}