.glide-checkbox {

    &__glidecb {
        display: none;
    }

    &__glidel {
        position: relative;
        display: block;
        padding-left: 3.6em;
        font-size: 14px;
        line-height: 21px;
        color: rgba(31, 32, 65, 0.75);

        &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            width: 38px;
            height: 18px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 10px;
            background: #fff;
        }

        &:after {
            content: "";
            position: absolute;
            top: 3px;
            left: 4px;
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: rgba(31, 32, 65, 0.25);
            transition: .5s;
        }
    }

    #glide:checked + &__glidel:after {
        left: 22px;
    }

}