.signup-form {
    padding: 1em 1.8em;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 5;

    h2 {
        margin-top: 1em;
    }

    &__name,
    &__birth,
    &__enter-data {
        input {
            width: 302px;
            height: 40px;
            margin-bottom: 0.7em;
            padding: 2px 0px 0px 16px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;

            &::placeholder {
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.25);
            }
        }
    }

    &__gender {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    &__radio {
        margin-top: 1px;
        margin-right: 23px;
    }

    &__birth {
        margin-bottom: 0.5em;

        input {
            margin-top: 0.4em;
        }
    }

    &__label {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__enter-data {
        input {
            margin-top: 0.4em;

            &:last-child {
                margin-top: 0;
            }
        }
    }

    &__offer {
        margin-bottom: 1.3em;
        padding: 2px;
    }

    &__payButton {
        margin-bottom: 1.9em;
    }
    
    &__enter {
        display: flex;
        align-items: center;

        &__link {
            font-size: 14px;
            line-height: 18px;
            color: #000;
            text-decoration: none;
        }

        &__btn-wrapper {
            width: 6.2em;
            height: 2.8em;
            margin-left: auto;
        }
    }

    &__payButton {
        margin-top: 0.2em;
        margin-bottom: 2em;
    }
}  