/* montserrat-regular - cyrillic_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/montserrat-v14-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../assets/fonts/montserrat-v14-cyrillic_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@import 'signupForm.scss';
@import 'Radio.scss';
@import 'glideCheckbox.scss';

.content-wrapper {
    display: flex;
    max-width: 1440px;

    &__banner {
        display: flex;
        flex: 1 0 100%;
        height: 43.9em;
        background: url("../../image/signupFon.png") bottom;
        background-size: cover;
    }

    .container {
        max-width: 1173px;
        margin: 0 auto;
        padding: 0 10px;

        &__signup-form {
            flex: 0 0 35.4%;
            max-width: 23.75em;
            margin: 0 auto;
            margin-top: 30px;

            .signup-form {
                padding-bottom: 1.54em;
            }
        }
    }
}

@media(max-width: 992px) {
    .content-wrapper {
        max-width: 1173px;

        .container {
            max-width: 750px;
            padding: 0;
        }
    }
}

@media(max-width: 390px) {
    .content-wrapper {

        .container {
            max-width: 320px;

            &__signup-form {

                .signup-form__name input, .signup-form__birth input, .signup-form__enter-data input {
                    width: 243px;
                }
            }
        }
    }
}